@{
    ViewData["Title"] = "Qeydiyyat";
}
<section class="contact_section layout_padding">
    <div class="contact_bg_box">
        <div class="img-box">
            <img src="/images/contact-bg.jpg" alt="">
        </div>
    </div>
    <div class="container">
        <div class="heading_container heading_center">
            <h2>QEYDİYYATDAN KEÇ</h2>
        </div>
        <div class="">
            <div class="row">
                <div class="col-md-7 mx-auto">
                    @if (ViewBag.Error != null)
                    {
                        <div class="alert alert-danger">@ViewBag.Error</div>
                    }
                    <form asp-action="Register" method="post">
                        <div class="contact_form-container">
                            <div>
                                <div>
                                    <input type="text" name="Name" placeholder="AD SOYAD" required />
                                </div>
                                <div>
                                    <input type="email" name="Email" placeholder="EMAİL" required />
                                </div>
                                <div>
                                    <input type="password" name="Password" placeholder="ŞİFRƏ" required />
                                </div>
                                <div>
                                    <input type="text" name="Phone" placeholder="ƏLAQƏ NÖMRƏSİ" />
                                </div>
                                <div class="btn-box">
                                    <button type="submit">QEYDİYYATDAN KEÇ</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
