<!-- team section -->

<section class="team_section layout_padding">
    <div class="container" style="background-color: white; padding: 20px;">
        <div class="heading_container heading_center">
            <h2>
                ƏN YAXŞI MÜHAFİZƏÇİLƏRİMİZ
            </h2>
            <p>
                Onlar müştərilərimizin təhlükəsizliyini təmin etmək üçün hər zaman yüksək səviyyədə xidmət göstərir, fərdi yanaşma və diqqətli nəzarətlə rahatlıq yaradırlar. Hər biri təcrübəli və güvənilən şəxs olmaqla, fərdi təhlükəsizlik planlarının uğurla həyata keçirilməsində əsas rol oynayırlar. Sizin təhlükəsizliyiniz onların əsas prioritetidir.
            </p>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 mx-auto ">
                <div class="box">
                    <div class="img-box">
                        <img src="images/aslan.jpg" alt="" height="500px">
                    </div>
                    <div class="detail-box">
                        <h5>
                            ASLAN MƏMMƏDOV
                        </h5>
                        <h6 class="">
                            supervisor
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mx-auto ">
                <div class="box">
                    <div class="img-box">
                        <img src="images/rehim.jpg" alt="" height="500px">
                    </div>
                    <div class="detail-box">
                        <h5>
                            RƏHİM ŞIXQAYIBOV
                        </h5>
                        <h6 class="">
                            supervisor
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mx-auto ">
                <div class="box">
                    <div class="img-box">
                        <img src="images/mutalib.jpg" alt="" height="500px">
                    </div>
                    <div class="detail-box">
                        <h5>
                            MÜTALİB ƏSGƏROV
                        </h5>
                        <h6 class="">
                            supervisor
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end team section -->
